backcall==0.1.0
decorator==4.4.2
ipython==8.10.0
ipython-genutils==0.2.0
jedi==0.17.0
mysql-connector==2.2.9
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prettytable==0.7.2
prompt-toolkit==1.0.14
ptyprocess==0.6.0
pyfiglet==0.8.post1
Pygments==2.6.1
PyInquirer==1.0.3
regex==2020.7.14
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.9
